body {
	background-color:#84E082;
	font-family: 'Roboto';
	padding-left: 50px;
	padding-right: 50px;
}

h1 {
	text-align: center;
	font-family: 'Anton';
	text-shadow: 1px 2px #999;
	line-height: 30px;
}

h2 {
	text-align: center;
}

.contenedorlistas {
	display: flex;
	flex-wrap: wrap;
	margin: auto 10%;
}

.lista {
	background-color: white;
	border-radius: 12px;
	padding: 2%;
	margin: 1% auto;
	font-size: 22px;
	transition: all 0.5s;
}

.lista:hover {
	transform: scale3d(1.1, 1.1, 1.1);
	cursor: pointer;
}

footer {
	position: absolute;
	bottom: 0;
	margin: 0 0 1% 0;
}

.social {
	display: inline-block;
	color: #282828;
	height: 40px;
	width: 40px;
	margin: 5px;
	vertical-align: middle;
	transition: all 0s;
  }

i{
	transition: all 0.5s;
	font-size: 40px;
}

i:hover{
	transform: scale3d(1.7,1.7,1.7);
	margin-left: 20px;
	color: darkblue;
}

a:link, a:visited, a:active {
    text-decoration:none;
}

a{ 
color: #2B3193; 
}